<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontDev</title>
    <link rel="stylesheet" href="../assets/css/cadastro.css">
</head>
<body>
    <header>
        <h1>FrontDev</h1>
    </header>
    <main>
        <div class="caixa">
            <section class="container-Frontdev">
                <div>
                    <h1 id="title-bemvindo">Bem-Vindo ao Frontdev</h1>
                    <p>Sua plataforma completa para desenvolvimento profissional</p>
                </div>
                <div class="box-in">
                    🚀 Acelere seu aprendizado
                </div>
                <div class="box-in">
                    👥 Concete-se com Devs
                </div>
                <div class="box-in">
                    📖 Recursos Exclusivos
                </div>
            </section>
            <section class="container-login">
                <form action="#">
                <div class="entrar-cadastro">
                    <a href="../views/login.html" class="button-box" id="entrar">Entrar</a>
                    <a href="../views/cadastro.html" class="button-box" id="cadastro">Cadastro</a>
                </div>
                <div class="login-title">
                    <h1>Cadastre sua conta</h1>
                    <p>Inicie sua jornada de desenvolvedor</p>
                </div>
                <label for="email">E-mail</label>
                <div class="input-box">
                    <input type="text" id="email" required>
                </div> 
                <label for="email">Nome de usuário</label>
                <div class="input-box">
                    <input type="text" id="usuário" required>
                </div> 
                <label for="senha">Senha</label>
                <div class="input-box">
                    <input type="password" id="senha" required>
                </div>
                <label for="senha">Confirme sua senha</label>
                <div class="input-box">
                    <input type="password" id="senha2" required>
                </div>
                <div>
                    <button class="button-cadastrar" type="submit">Cadastrar</button>
                </div>
                </form>
            </section>
        </div>
    </main>
    <footer>
    <p>&copy; 2025 FrontDev. Desenvolvimento para desenvolvedores, por desenvolvedores.</p>
    <div>
        <a href="" class="footer-links">Suporte</a>
        <a href="" class="footer-links">Documentação</a>
        <a href="" class="footer-links">Comunidade</a>
    </div>
    </footer>
</body>
</html>